@inherits LayoutComponentBase

<PageTitle>@seo.pageTitle</PageTitle>
<HeadContent>
    <meta name="keywords" content="@seo.metaTitle" />
    <meta name="description" content="@seo.metaDescription" />
    <meta property="og:title" content="@seo.metaTitle" />
    <meta property="og:description" content="@seo.metaDescription" />
    <meta name="twitter:title" content="@seo.metaTitle" />
    <meta name="twitter:description" content="@seo.metaDescription" />
</HeadContent>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main @onclick="sidebarFcs">
        <article class="content px-4">
            <div @onclick="toggle" class="close"></div>

            <div>
                <CascadingValue Value="@seo" Name="seo">
                    @Body
                </CascadingValue>
            </div>
        </article>
    </main>
</div>

@code {
    public class Seo
    {
        public string pageTitle = "";
        public string metaTitle = "";
        public string metaDescription = "";

        public bool isDrawCode = true;
    }

    public Seo seo = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {  
        if (firstRender)
        {
            await JSRT.InvokeVoidAsync("removeTouchMove");
        }
 
        if (seo.isDrawCode)
        {
            await JSRT.InvokeVoidAsync("drawCode");
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    public async void toggle()
    {
        await JSRT.InvokeVoidAsync("navToggle");
    }

    public async void sidebarFcs()
    {
        await JSRT.InvokeVoidAsync("sidebarFcs");
    }
}
