<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">中二病也要寫程式</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<MudNavMenu Style="color: #fff;">
    <MudNavGroup Title="C#" Expanded="true" Icon="@Icons.Filled.Storage">
        <MudNavLink Href="./csharp1">C#基礎 - new vs overrvide</MudNavLink>
        <MudNavLink Href="./csharp2">ASP.NET Web API 訊息處理器e</MudNavLink>
        <MudNavGroup Title="Blazor" Expanded="false" Icon="@Icons.Filled.Storage">
            <MudNavLink Href="./blazor1">StateHasChanged() vs InvokeAsync(StateHasChanged)</MudNavLink>
            <MudNavLink Href="./blazor2">Service Lifetime</MudNavLink>
        </MudNavGroup>
    </MudNavGroup>
    <MudNavGroup Title="JavaScript" Expanded="true" Icon="@Icons.Filled.Storage">
        <MudNavLink Href="./javascript1">使用Promise達到同步等待js資源載入</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Dart" Expanded="true" Icon="@Icons.Filled.Storage">
        <MudNavLink Href="./dart1">Dart基礎 - 初入dart</MudNavLink>
        <MudNavLink Href="./dart2">Dart基礎 - @@immutable</MudNavLink>
        <MudNavLink Href="./dart3">Dart基礎 - 建構式</MudNavLink>
        <MudNavGroup Title="Flutter" Expanded="false" Icon="@Icons.Filled.Storage">
            <MudNavLink Href="./flutter1">編譯錯誤: missing an input or output annotation</MudNavLink>
            <MudNavLink Href="./flutter2">什麼是BLoC Design Pattern</MudNavLink>
        </MudNavGroup>
    </MudNavGroup>
    <MudNavGroup Title="Web Deploy" Expanded="true" Icon="@Icons.Filled.Storage">
        <MudNavLink Href="./githubpage">Blazor WebAssembly 使用Github Pages進行部屬</MudNavLink>
        <MudNavLink Href="./gcpvm">Google Cloud Platform 創建虛擬主機(VM)來架設網站</MudNavLink>
    </MudNavGroup>
</MudNavMenu>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
